@import url("style.css");
@import url("personal.css");
@import url("color.css");

/* ------------Container styles------------ */
.container {
    display: grid;
    grid-template-areas:
        "title"
        "sd"
        "main"
        "ft";
    grid-template-columns: 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.blog-title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
}

.sidebar {
    grid-area: sd;
    padding: 20px;
    border-radius: 8px;
}

.nested-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 250px);
    grid-gap: 20px;
}

.photo-box {
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    position: relative;
    display: flex;
    align-items: end;
}

.photo-button {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

#fone {
    background-image: url("../img/1.jpg");
    background-size: contain;
}

#ftwo {
    background-image: url("../img/2.jpg");
    background-size: contain;
}

#fthree {
    background-image: url("../img/3.jpg");
    background-size: contain;
}

#ffour {
    background-image: url("../img/4.jpg");
    background-size: contain;
}

#ffive {
    background-image: url("../img/5.jpg");
    background-size: contain;
}

#fsix {
    background-image: url("../img/6.jpg");
    background-size: contain;
}

.content {
    grid-area: main;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.nested-gridd {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.boxx {
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#one {
    font-family: "Caveat", cursive;
    font-size: 40px;
}

#two {
    align-content: center;
}

#two p {
    font-size: 16px;
}

.foot {
    grid-area: ft;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.btn {
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

/* ------------Media Qureies------------ */
@media (max-width: 320px) {
    h1 {
        font-size: 5vw;
    }

    .container {
        grid-template-areas:
            "title"
            "sd"
            "main"
            "ft";
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .nested-grid {
        grid-template-columns: 1fr !important;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .container {
        grid-template-areas:
            "title"
            "sd"
            "main"
            "ft";
        grid-template-columns: 1fr;
    }

    .nested-grid {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(6, 200px);
    }

    .nested-gridd {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 901px) {
    .container {
        grid-template-areas:
            "title title"
            "sd main"
            "ft ft";
        grid-template-columns: 2.5fr 1.5fr;
    }

    .nested-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1frpx);
    }

    .nested-gridd {
        grid-template-rows: 250px 520px;
    }
}
