@import url("style.css");
@import url("personal.css");

/* ------------Container styles------------ */
.container {
    display: grid;
    grid-template-areas:
        "title"
        "sd"
        "main"
        "ft";
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.blog-title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.blog-title h1 {
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    padding: 10px;
}

.sidebar {
    grid-area: sd;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.nested-grid {
    display: grid;
    grid-template-columns: repeat(2, 340px);
    grid-template-rows: repeat(3, 250px);
    grid-gap: 20px;
}

.photo-box {
    background-color: #faf0e6;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    position: relative;
}

.photo-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    border: 2px solid #bc8f8f;
    border-radius: 8px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
}

.photo-button:hover {
    background-color: #bc8f8f;
    color: #fff;
    opacity: 100%;
}

#fone {
    background-image: url("../img/1.jpg");
    background-size: contain;
}

#ftwo {
    background-image: url("../img/2.jpg");
    background-size: contain;
}

#fthree {
    background-image: url("../img/3.jpg");
    background-size: contain;
}

#ffour {
    background-image: url("../img/4.jpg");
    background-size: contain;
}

#ffive {
    background-image: url("../img/5.jpg");
    background-size: contain;
}

#fsix {
    background-image: url("../img/6.jpg");
    background-size: contain;
}

.content {
    grid-area: main;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.nested-gridd {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.boxx {
    background-color: #faf0e6;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

#one {
    font-family: "Caveat", cursive;
    font-size: 40px;
}

#two {
    align-content: center;
}

#two p {
    font-size: 16px;
}

.foot {
    grid-area: ft;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #fff;
    color: black;
    border: 2px solid #c2b542;
    border-radius: 8px;
    cursor: pointer;
}

.btn:hover {
    background-color: #c2b542;
    color: #fff;
}

/* ------------Media Qureies------------ */
@media (max-width: 320px) {
    .container {
        grid-template-areas:
            "title"
            "sd"
            "main"
            "ft";
        grid-template-columns: 1fr;
    }

    .nested-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .container {
        grid-template-areas:
            "title"
            "sd"
            "main"
            "ft";
        grid-template-columns: 1fr;
    }

    .nested-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 200px);
    }

    .nested-gridd {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 901px) {
    .container {
        grid-template-areas:
            "title title"
            "sd main"
            "ft ft";
        grid-template-columns: 750px 450px;
    }
    .nested-gridd {
        grid-template-rows: 250px 520px;
    }
}
